ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
lu {
    float: under;
    position: relative;
    
    left;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}
input {
    background-color: grey;
    font-size: 40px;
    color:red;
    position: relative;
    top:500px;
    left: 600px;
        
}